<odoo>
    <data>
        <record id="view_llantas_tree" model="ir.ui.view">
            <field name="name">Resumen</field>
            <field name="model">llantas_config.ctt_llantas</field>
            <field name="arch" type="xml">
                <tree edit="0" sample="1">
                    <field name="comprador_id" domain="[('category_ids','like','COMP')]"/>
                    <field name="sale_id" />
                    <field name="partner_name" />
                    <field name="marketplace" />
                    <field name="proveedor_id" domain="[('category_id','like','PROVEEDOR')]"/>
                    <field name="orden_compra" />
                    <field name="guia" />
                    <field name="no_recoleccion" />
                    <field name="factura_prov" />
                    <field name="num_cliente" />
                    <field name="factura_cliente" />
                    <field name="status" />
                    <field name="comentarios" optional="hide"/>
                    <field name="fecha" />
                    <field name="dias" readonly="1"/>
                </tree>
            </field>
        </record>    

        
        <record id="ctt_llantas_action_ctrl_llantas_form" model="ir.ui.view">
            <field name="name">form</field>
            <field name="model">llantas_config.ctt_llantas</field>
            <field name="arch" type="xml">
            <form string="Resumen">
                <!-- <header>

                </header> -->
                <!-- <field name="status" nolabel="1" colspan="2" widget="statusbar" statusbar_visible="Pendiente, Debito en Curso, Traspaso"/> -->
                <sheet string="Registration">
                    <div class="oe_button_box" />
                    <group>
                        <group string="Información basica" >
                            <field name="comprador_id" domain="[('category_ids','like','COMP')]"/>
                            <field name="sale_id" />
                            <field name="partner_name" />
                            
                        </group>
                        <group string="Información proveedor" >
                            <field name="marketplace" />
                            <!-- <field name="marketplace_id"/> -->
                            <field name="proveedor_id" domain="[('category_id','like','PROVEEDOR')]"/>
                            <field name="orden_compra" />
                            
                        </group>
                        <group string="Informacion venta" >
                            <field name="guia" />
                            <field name="no_recoleccion" />
                            <field name="factura_prov" />
                            <field name="num_cliente" />
                            <field name="factura_cliente" />
                            
                            
                        </group>
                        <group string="Informacion pedido" >
                            <field name="orden_entrega"/>
                            <field name="status" />
                            <field name="fecha" />
                            <field name="dias" readonly="1"/>
                            
                        </group>
                    </group>
                    <group>
                        <field name="comentarios" optional="hide"/>
                    </group>
                </sheet>
                <div class="oe_chatter">
                        <!-- <field name="message_follower_ids" widget="mail_followers"/>
                        <field name="activity_ids" widget="mail_activity"/> -->
                        <field name="message_ids" widget="mail_thread"/>
                    </div>
            </form>
                </field>
        </record>
            
        <record id="ctt_llantas_action_ctrl_llantas_tree" model="ir.actions.act_window">
            <field name="name">Resumen</field>
            <field name="res_model">llantas_config.ctt_llantas</field>
            <field name="view_mode">tree,form,graph,pivot</field>
            <field name="context">{'create': True}</field>
            <field name="target">main</field>
            <field name="help" type="html">
                <p class="o_view_nocontent_empty_folder">
                    No hay registros
                </p><p>
                    Aqui aparecerán los registros de existencia de proveedores.
                </p>
            </field>
            
        </record>

        

        <!-- <record id="ctt_llantas_action_proveedor_list_tree" model="ir.actions.act_window">
            <field name="name">Existencia proveedores</field>
            <field name="res_model">llantas_config.ctt_llantas</field>
            <field name="view_mode">tree,form</field>
            <field name="context">{'create': True}</field>
            <field name="target">main</field>
            <field name="help" type="html">
                <p class="o_view_nocontent_empty_folder">
                    No hay registros
                </p><p>
                    Aqui aparecerán los registros de existencia de proveedores.
                </p>
            </field>
        </record> -->
        

        
        <!-- <record id="ctt_llantas_action_kiosk_mode" model="ir.actions.client">
            <field name="name">Acceso a socios</field>
            <field name="tag">ctt_llantas_kiosk_mode</field>
            <field name="target">fullscreen</field>
        </record>
        
        <record id="ctt_llantas_action_greeting_message" model="ir.actions.client">
            <field name="name">Message</field>
            <field name="tag">ctt_llantas_greeting_message</field>
        </record> -->
        
        
        <record id="llantas_config_search" model="ir.ui.view">
            <field name="name">Buscar</field>
            <field name="model">llantas_config.ctt_llantas</field>
            <field name="arch" type="xml">
               <search string="Buscar">
                    <field name="partner_name" string="Cliente" filter_domain="[('partner_name', 'ilike', self)]"/>
                        <field name="marketplace" string="Marketplace" filter_domain="[('marketplace', 'ilike', self)]"/>
                        <field name="comprador_id" string="Comprador" filter_domain="[('comprador_id', 'ilike', self)]"/>
                        <field name="status" string="Status" filter_domain="[('status', 'ilike', self)]"/>
                        <field name="proveedor_id" string="Proveedor" filter_domain="[('proveedor_id', 'ilike', self)]"/>

                       <filter string="Status pendiente" name="status" domain="[('status', '=', 'Pendiente')]"/>
                       <!-- <filter name="fecha" string="Fecha" /> -->
                   
                        <separator/>
                       <group expand="0" string="Group By">
                        <filter string="Cliente" name="partner_name" domain="[]" context="{'group_by': 'partner_name'}"/>
                        <filter name="marketplace" string="Marketplace" domain="[]" context="{'group_by': 'marketplace'}"/>
                        <filter string="Comprador" name="comprador_id" domain="[]" context="{'group_by': 'comprador_id'}"/>
                        <filter string="Status" name="status" domain="[]" context="{'group_by': 'status'}"/>
                        <filter string="Proveedor" name="proveedor_id" domain="[]" context="{'group_by': 'proveedor_id'}"/>
                        <filter string="Order Date" name="fecha" domain="[]" context="{'group_by': 'fecha'}"/>
                           
                           
                        </group>
                       
                </search>
            </field>
        </record>
    
       


        
        <menuitem id="menu_ctt_llantas_root" name="Control Llantas" web_icon="llantas_config,static/description/ctt.png" groups=""/>
        <menuitem id="menu_ctt_llantas_ctrl_list" name="Operaciones" parent="menu_ctt_llantas_root" sequence="1" action="ctt_llantas_action_ctrl_llantas_tree"/>
        
        <menuitem id="menu_ctt_llantas_catalogos_list" name="Catálogos" parent="menu_ctt_llantas_root" sequence="3" action="ctt_llantas_action_ctrl_llantas_tree"/>
        <menuitem id="menu_ctt_llantas_marketplace_list" name="Proveedores" parent="menu_ctt_llantas_root" sequence="2" action="ctt_llantas_action_ctrl_llantas_tree"/>
        
        <!-- <menuitem id="menu_ctt_country_kiosk_no_user_mode" name="Modo Kiosko" parent="menu_ctt_country_root" sequence="2" action="ctt_country_action_kiosk_mode"/> -->

    </data>
</odoo>